@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.contenido{
    font-family: 'Roboto', sans-serif;
}

.index-lateral-izquierdo{
    background-color: #0f64f0;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 5rem;
}

.index-lateral-derecho{
    background-color: #e337b6;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 5rem;
}

.footer {
    background-color: rgb(245, 180, 15);
    font-size: larger;
    padding: 1rem;
    height: 5rem;
    text-align: center;
}

.logo-lateral-izquierdo{
    padding: 2rem;
}

.login-form{
    background-color: #0f64f0;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.sidebar-internal{
    background-color: #0f64f0;
}

.sidebar-internal-maintitle{
    color: white;
    display: inline;
}

.sidebar-internal-subtitle{
    color: white;
}

.main-bg-color{
    background-color: rgb(245, 180, 15);
}

@media only screen and (min-width: 768px) {

    .sidebar-internal{
        height: 100vh;
    }


}