{% extends 'components/base_internal_part.html' %}
{% load static %}

{% block contenido %}

<div>
    <div class="row">
        <div class="col-sm-12 col-md-3 col-xl-2 sidebar-internal">

            {% include 'components/sidebar_internal_part.html' %}

        </div>
        <div class="col-sm-12 col-md-9 col-xl-10 mainbar-internal">
            {% include 'components/messages_part.html' %}
            <div class="mt-3">
                <div class="row">
                    <p class="fs-2">Tareas</p> 
                </div>
            </div>
            <div class="row">
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <p class="fs-4">Buscar sobre tareas pendientes</p> 
                        <div class="row">
                            <div class="col-4">
                                <label for="id_id_etiqueta" class="fw-bold">Etiqueta:</label>
                                <select name="id_etiqueta" class="form-select" id="id_id_etiqueta" required>
                                    <option value="" selected>Seleccione una etiqueta</option>
                                    {% for element in etiquetas %}
                                        <option value="{{element.id}}">{{element.etiqueta}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4">
                                <button type="submit" class="btn btn-primary mt-3">Buscar</button> <a href="{% url 'listar_tareas' %}" class="btn btn-primary mt-3">Todas las tareas</a>
                            </div>
                        </div>
                        
                    </div>
                </form>
            </div>
            <div>
                <div class="row">
                    <p class="fs-4">Listado de tareas</p> 
                </div>
                <div class="row">
                    <div class="col-2">Titulo</div>
                    <div class="col-4">Descripción</div>
                    <div class="col-1">Estado</div>
                    <div class="col-1">Etiqueta</div>
                    <div class="col-2">Fecha de vencimiento</div>
                </div>
                {% for element in tareas %}
                <div class="row">
                    <div class="col-2">{{ element.titulo }}</div>
                    <div class="col-4">{{ element.descripcion }}</div>
                    <div class="col-1">{{ element.id_estado }}</div>
                    <div class="col-1">{{ element.id_etiqueta }}</div>
                    <div class="col-2">{{ element.fecha_vencimiento | date:'d-m-Y' }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}